Repository rayanfer32/nexus-explorer-next, changes with the labels that .github/labeler.yml gives for each.
All labels: üìùdocumentation, chore, ‚ö†Ô∏èBREAKING CHANGES!!!

.github/labeler.yml:

# Storybook
'üìùdocumentation':
  - src/stories/**/*
  - README.md
  - CONTRIBUTING.md
  - '*.md'

# Chore
'chore':
  - dependencies/**/*
  - public/**/*
  - package.json
  - .github/**/*
  - .vscode/**/*
  - .storybook/**/*
  - '*'

'‚ö†Ô∏èBREAKING CHANGES!!!':
  - src/assets/**/*

version bump up to v0.0.8
  package.json
Labels: chore

refactor: ♻️ renamed to scss
  src/pages/_app.js
  src/styles/globals.scss
Labels: none

fix: 🐛 font import
  src/styles/globals.scss
Labels: none

style: 💄 use rubik font
  src/styles/globals.scss
Labels: none

fix: 💄 font size
  src/components/Panel2/Panel2.js
  src/components/atoms/NE_RTTable/RTTable.module.scss
  src/styles/globals.scss
Labels: none

⚡️ fetch contributors statically
  src/pages/about/index.js
Labels: none

📝 Add link to nexus docs
  src/types/FooterTypes.js
Labels: none

💄 Hide navbar on scroll
  src/components/Header/Header.jsx
  src/components/Header/Header.module.scss
Labels: none

fix(meta): update meta urls
  .env.local.sample
  public/og_meta_image.jpg
  src/components/Header/PageHeader/PageHeader.jsx
Labels: chore

update main branch url
  README.md
Labels: üìùdocumentation, chore

Revert "fix(meta): update meta urls"
  .env.local.sample
  public/og_meta_image.jpg
  src/components/Header/PageHeader/PageHeader.jsx
Labels: chore

feat: add meta details
  public/favicon2.ico
  src/components/Header/PageHeader/PageHeader.jsx
Labels: chore

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: chore

fix: header disappears while scrolling
  public/favicon2.ico
  src/components/Header/Header.jsx
  src/components/Header/Header.module.scss
  src/utils/common/debounce.js
  src/utils/common/index.js
  src/utils/common/throttle.js
Labels: chore

revamp: update github issue/pr template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_req.md
  .github/pull_request_template.md
Labels: chore

update about
  .github/ISSUE_TEMPLATE/feature_req.md
Labels: chore

feat: add auto formate option on save
  .vscode/settings.json
Labels: chore

fix: add copyright icon
  src/types/FooterTypes.js
Labels: none

refactor: resturcture global styles
  src/styles/_colors.scss
  src/styles/_fonts.scss
  src/styles/_theme.scss
  src/styles/_variables.scss
  src/styles/globals.scss
Labels: none

feat: add keyframe to card, dropdown
  src/components/atoms/DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Dropdown/Dropdown.module.scss
  src/styles/_mixins.scss
Labels: none

refactor: remove card rotation
  src/components/atoms/DetailCard/DetailCard.module.scss
Labels: none

refactor: detail card and dropdown menu
  src/components/atoms/DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Dropdown/Dropdown.module.scss
  src/styles/_mixins.scss
Labels: none

💄 show three dots
  src/utils/converter.js
Labels: none

refactor: support relative import style modules
  next.config.js
  src/components/atoms/DetailCard/DetailCard.module.scss
Labels: chore

refactor files
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.module.scss
  src/components/UserAccount/UserAccount.jsx
Labels: none

added dynamic pagiantion
  src/components/Table/DynamicPagination.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/hooks/useNetwork/useNetwork.jsx
Labels: none

fix trust transaction
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/hooks/useNetwork/useNetwork.jsx
Labels: none

clean file
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
Labels: none

dynamic pagination for richlist WIP
  .vscode/settings.json
  src/components/Table/DynamicPagination.jsx
  src/components/Table/Pagination.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/richlist/index.js
Labels: chore

fix: style module import error
  .storybook/preview.js
  dependencies/storybook-theme-toggle/ToggleTheme.js
Labels: chore

refactor: delete duplicate detail-card file
  src/components/Panel2/Panel2.js
  src/components/atoms/DetailCard/DetailCard.module.scss
  src/components/atoms/DetailCard/TypeOne.jsx
  src/components/atoms/DetailCard/TypeTwo.jsx
  src/components/atoms/DetailCard/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/index.jsx
  src/stories/components/Card.stories.js
Labels: üìùdocumentation

refactor: detail card body content
  src/components/Panel2/Panel2.js
  src/components/atoms/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/index.jsx
  src/styles/_mixins.scss
Labels: none

feat: add price indication
  src/components/Panel2/Panel2.js
  src/components/atoms/NE_Card/NE_DetailCard/Market/Market.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Market/index.jsx
  src/styles/_colors.scss
  src/types/ColorsTypes.js
Labels: none

fix: market colour contrast
  src/components/atoms/NE_Card/NE_DetailCard/Market/Market.module.scss
  src/stories/components/Card.stories.js
  src/styles/_colors.scss
  src/types/ColorsTypes.js
Labels: üìùdocumentation

refactor: combine two pagnination to single
  src/components/Table/Table.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/atoms/NE_Pagination/Pagination.jsx
  src/components/atoms/NE_Pagination/Pagination.module.scss
  src/components/atoms/NE_Pagination/index.js
  src/pages/blocks.js
  src/pages/richlist/index.js
  src/pages/transactions.js
  src/pages/trustlist/index.js
Labels: none
