Repository rayanfer32/nexus-explorer-next, pull requests merged in 2021-12, with the labels that each got.

#22 chore: support scss styling
  .husky/pre-push
  next.config.js
  package.json
  src/components/atoms/SmallCard/SmallCard.module.css
  src/components/atoms/SmallCard/SmallCard.module.scss
  src/components/atoms/SmallCard/index.jsx
  yarn.lock
Labels: ✨enhancement

#24 chore: add storybook
  .eslintrc.json
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  package.json
  src/components/atoms/SearchBar/SearchBar.js
  src/components/atoms/SearchBar/SearchBarLong.js
  src/components/atoms/SmallCard/index.jsx
  src/pages/about/index.js
  src/pages/network/index.js
  src/stories/Example/Button.jsx
  src/stories/Example/Button.stories.jsx
  src/stories/Example/Header.jsx
  src/stories/Example/Header.stories.jsx
  src/stories/Example/Page.jsx
  src/stories/Example/Page.stories.jsx
  src/stories/Example/button.css
  src/stories/Example/header.css
  src/stories/Example/page.css
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/components/Searchbar.stories.js
  src/stories/components/SmallCard.stories.js
  src/stories/pages/about.stories.js
  src/stories/pages/home.stories.jsx
  yarn.lock
Labels: ✨enhancement, chore

#23 Rayan
  package.json
  src/components/Panel1/Panel1.js
  src/components/Panel3/Panel3.jsx
  src/components/Panel3/Panel3.module.css
  src/components/atoms/RTTable/RTTRow.jsx
  src/components/atoms/RTTable/RTTRowBlock.jsx
  src/components/atoms/RTTable/RTTRowBlock.module.css
  src/components/atoms/RTTable/RTTable.module.css
  src/components/atoms/SmallCard/index.jsx
  src/pages/blocks.js
  src/pages/index.js
  src/pages/richlist.js
  src/pages/trustlist.js
  src/styles/antdCustom.dark.css
  src/styles/globals.css
  src/utils/converter.js
  yarn.lock
Labels: 🦮help wanted, ❔question

#25 feat: add component loader
  src/assets/index.js
  src/components/Footer/Footer.js
  src/components/Navbar/Navbar.js
  src/components/atoms/Loader/CircularLoader.jsx
  src/components/atoms/Loader/DotLoader.jsx
  src/components/atoms/Loader/Loader.module.scss
  src/components/atoms/Loader/index.jsx
  src/pages/test.js
  src/stories/components/Loader.stories.js
  src/types/footer.js
  src/types/index.js
  src/types/navbar.js
  src/types/strings.js
Labels: feat
