Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-12, with the labels that each got.

#298 fix: invalid date issue with firefox
  src/components/Panel3/Panel3.jsx
  src/utils/helper.js
Labels: bug

#299 feat: use indexes to create og images of contracts
  src/pages/api/static/og-alert.jsx
  src/pages/scan/og.jsx
  src/utils/common/fetch.js
Labels: feat

#294 feat: Tritium API upgrades, New Network / Ledger info added to metrics page, Embassy DAO page.
  src/components/Header/Header.jsx
  src/components/Panel1/Panel1.jsx
  src/components/Panel2/Panel2.jsx
  src/components/Table/Table.jsx
  src/components/TestComponents/index.jsx
  src/components/Views/Dao/index.jsx
  src/components/Views/GlobalNames/GlobalNames.jsx
  src/components/Views/Metrics/LedgerMetrics.jsx
  src/components/Views/Metrics/Metrics.jsx
  src/components/common/NE_TabChanger/TabChanger.jsx
  src/components/common/NE_TabChanger/TabChanger.module.scss
  src/components/common/NE_TabChanger/index.js
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/dao/embassy/index.js
  src/pages/richlist/index.js
  src/styles/_theme.scss
  src/types/DaoAccounts.js
  src/types/NavbarTypes.js
  src/types/PageMetaTypes.js
  src/types/StringsTypes.js
  src/utils/common/fetch.js
Labels: feat

#295 feat: new svg loader implementation
  src/components/TestComponents/index.jsx
  src/components/common/NE_Loader/CircularLoader.jsx
  src/components/common/NE_Loader/DotLoader.jsx
  src/components/common/NE_Loader/index.jsx
  src/components/common/NE_TabChanger/TabChanger.module.scss
Labels: feat

#300 Release
  .editorconfig
  .github/CODEOWNERS
  package.json
  public/og_meta_image_bot.jpg
  src/assets/branding/GlobeBlue1000x1000.png
  src/assets/branding/GlobeBlue1200x1000.png
  src/assets/branding/GlobeWhite1000x1000.png
  src/assets/branding/GlobeWhite1200x1000.png
  src/assets/branding/NexusLogoBlue1250x225.png
  src/assets/branding/NexusLogoWhite1250x225.png
  src/assets/icons/GlobeBlue1000.png
  src/assets/icons/icon.png
  src/assets/icons/keyboard_arrow.svg
  src/assets/icons/nexus round blue icon.svg
  src/assets/icons/nexus round white icon.svg
  src/assets/icons/nexusWhite.png
  src/assets/icons/nexusblue.png
  src/assets/index.js
  src/components/Header/Header.jsx
  src/components/Header/PageHeader/Og-Bot.jsx
  src/components/Header/PageHeader/PageHeader.jsx
  src/components/Panel1/Panel1.jsx
  src/components/Panel2/Panel2.jsx
  src/components/Panel3/Panel3.jsx
  src/components/Table/Table.jsx
  src/components/TestComponents/index.jsx
  src/components/Views/Dao/index.jsx
  src/components/Views/GlobalNames/GlobalNames.jsx
  src/components/Views/Metrics/LedgerMetrics.jsx
  src/components/Views/Metrics/Metrics.jsx
  src/components/common/NE_Loader/CircularLoader.jsx
  src/components/common/NE_Loader/DotLoader.jsx
  src/components/common/NE_Loader/index.jsx
  src/components/common/NE_Pagination/Pagination.jsx
  src/components/common/NE_Pagination/Pagination.module.scss
  src/components/common/NE_RTTable/NE_RTBlocks/RTBlock.jsx
  src/components/common/NE_TabChanger/TabChanger.jsx
  src/components/common/NE_TabChanger/TabChanger.module.scss
  src/components/common/NE_TabChanger/index.js
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/api/static/og-alert.jsx
  src/pages/dao/embassy/index.js
  src/pages/richlist/index.js
  src/pages/scan/og.jsx
  src/styles/_theme.scss
  src/types/DaoAccounts.js
  src/types/NavbarTypes.js
  src/types/PageMetaTypes.js
  src/types/StringsTypes.js
  src/utils/common/fetch.js
  src/utils/helper.js
  yarn.lock
Labels: major, skip
