Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-03, with the labels that each got.

#111 chore: 🔨 add env detection
  src/components/TestComponents/BlockEstimator.jsx
  src/components/UserAccount/UserAccount.jsx
  src/pages/scan/[addr].js
  src/types/ColorsTypes.js
  src/utils/customLog.js
  src/utils/index.js
  src/utils/middleware.js
Labels: ✨enhancement

#113 fix+feat: update metrics, hide chart toolbar for mobile
  src/components/Chart/ChartsApex.jsx
  src/components/atoms/NE_Card/NE_CompactCard/CompactCard.module.scss
  src/pages/metrics/styles.module.scss
  src/types/StringsTypes.js
Labels: 🐛bug, feat

#112 ✨ added Error Component
  src/components/Panel1/Panel1.js
  src/components/Panel2/Panel2.js
  src/components/Panel3/Panel3.jsx
  src/components/TestComponents/index.jsx
  src/components/atoms/NE_ErrorCard/ErrorCard.jsx
  src/pages/globalnames.jsx
  src/pages/metrics/index.js
  src/pages/namespaces.jsx
  src/pages/scan/[addr].js
  src/pages/tokens/index.jsx
  src/pages/trustlist/index.js
Labels: 🐛bug, ✨enhancement

#114 revamp: home page block list/transaction list table
  src/components/Panel3/Panel3.jsx
  src/components/Panel3/Panel3.module.scss
  src/components/atoms/NE_RTTable/NE_BlockData/BlockData.jsx
  src/components/atoms/NE_RTTable/NE_BlockData/BlockData.module.scss
  src/components/atoms/NE_RTTable/NE_BlockData/index.js
  src/components/atoms/NE_RTTable/NE_DateTime/DateTime.jsx
  src/components/atoms/NE_RTTable/NE_DateTime/DateTime.module.scss
  src/components/atoms/NE_RTTable/NE_DateTime/index.js
  src/components/atoms/NE_RTTable/NE_RTBlocks/RTBlock.jsx
  src/components/atoms/NE_RTTable/NE_RTBlocks/RTBlock.module.scss
  src/components/atoms/NE_RTTable/NE_RTBlocks/index.js
  src/components/atoms/NE_RTTable/NE_RTRow/RTRow.jsx
  src/components/atoms/NE_RTTable/NE_RTRow/RTRow.module.scss
  src/components/atoms/NE_RTTable/NE_RTRow/RTRowTop.jsx
  src/components/atoms/NE_RTTable/NE_RTRow/index.js
  src/components/atoms/NE_RTTable/NE_RTTRansactions/RTTransaction.jsx
  src/components/atoms/NE_RTTable/NE_RTTRansactions/RTTransaction.module.scss
  src/components/atoms/NE_RTTable/NE_RTTRansactions/index.js
  src/components/atoms/NE_RTTable/RTTable.jsx
  src/components/atoms/NE_RTTable/RTTable.module.scss
  src/components/atoms/NE_RTTable/index.js
  src/components/atoms/RTTable/RTTRow.jsx
  src/components/atoms/RTTable/RTTRow.module.scss
  src/components/atoms/RTTable/RTTRowBlock.jsx
  src/components/atoms/RTTable/RTTRowBlock.module.scss
  src/components/atoms/RTTable/RTTable.module.scss
  src/pages/error/index.js
  src/styles/globals.css
Labels: ✨enhancement, ⚠️BREAKING CHANGES!!!, feat

#118 fix: panel 2 misplace for small screen
  src/components/Panel2/Panel2.js
  src/components/Panel2/Panel2.module.scss
  src/components/atoms/DetailCard/DetailCard.module.scss
Labels: 🐛bug

#121 fix: chart misplace in safari ios
  src/components/Chart/ChartsApex.module.scss
Labels: 🐛bug

#120 fix: details card style
  src/components/atoms/DetailCard/DetailCard.module.scss
Labels: ✨enhancement

#119 feat: add page title and description
  src/components/Header/PageHeader/PageHeader.jsx
  src/components/Header/PageHeader/index.jsx
  src/pages/about/index.js
  src/pages/blocks.js
  src/pages/globalnames.jsx
  src/pages/metrics/index.js
  src/pages/namespaces.jsx
  src/pages/richlist/index.js
  src/pages/scan/[addr].js
  src/pages/tokens/index.jsx
  src/pages/transactions.js
  src/pages/trustlist/index.js
  src/types/PageMetaTypes.js
  src/types/index.js
Labels: feat

#125 Release v0.0.6
  package.json
  src/components/UserAccount/AccountDetail/AccountDetail.jsx
  src/components/UserAccount/UserAccount.jsx
  src/components/atoms/NE_CopyText/CopyText.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/globalnames.jsx
  src/pages/transactions.js
  src/utils/common/fetch.js
Labels: chore

#131 feat: pass page title/description as optional prop
  src/components/Header/PageHeader/PageHeader.jsx
Labels: ✨enhancement

#130 fix: account page detail bar improve
  src/components/UserAccount/AccountDetail/AccountDetail.module.scss
Labels: 🐛bug

#129 fix: double scroll appearance
  src/components/Chart/ChartsApex.module.scss
  src/pages/richlist/richlist.module.scss
Labels: 🐛bug

#133 fix: moveout links from app context
  src/hooks/useNetwork/useNetwork.jsx
  src/types/ConstantsTypes.js
  src/types/FooterTypes.js
Labels: 🐛bug

#134 refactor: remove unused files and properties
  .gitignore
  src/components/Chart/ChartsApex.jsx
  src/components/Header/Navbar/Navbar.jsx
  src/components/Layout/Layout.js
  src/components/Table/Table.jsx
  src/components/TestComponents/BlockEstimator.jsx
  src/components/TestComponents/ChartApi.jsx
  src/components/TestComponents/index.jsx
  src/components/UserAccount/AccountDetail/index.js
  src/components/UserAccount/AccountInfo/index.js
  src/components/UserAccount/TransactionDetails/index.js
  src/components/atoms/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/Detail/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/index.jsx
  src/components/atoms/NE_Card/index.jsx
  src/components/atoms/NE_SelectInput/SelectInput.jsx
  src/components/atoms/NE_SelectInput/SelectInput.module.scss
  src/components/atoms/NE_SelectInput/index.js
  src/components/atoms/SmallCard/SmallCard.module.scss
  src/components/atoms/SmallCard/index.jsx
  src/pages/blocks.js
  src/pages/test.jsx
  src/stories/components/Card.stories.js
  src/stories/components/SmallCard.stories.js
  src/styles/index.module.scss
Labels: 📝documentation, ⚠️BREAKING CHANGES!!!, chore

#136 revamp: search bar refactored
  src/components/Header/Header.jsx
  src/components/atoms/NE_SearchBar/SearchBar.js
  src/components/atoms/NE_SearchBar/SearchBar.module.scss
  src/components/atoms/NE_SearchBar/index.jsx
  src/components/atoms/SearchBar/SearchBar.module.css
  src/components/atoms/SearchBar/SearchBarLong.js
  src/stories/components/Searchbar.stories.js
Labels: 📝documentation, ✨enhancement

#137 feat: header is stikcy to the top on scroll
  src/components/Header/Header.module.scss
  src/styles/globals.css
Labels: feat

#143 feat: add meta images and details
  public/og_meta_image.jpg
  src/components/Header/PageHeader/PageHeader.jsx
  src/pages/index.js
  src/types/PageMetaTypes.js
Labels: chore, feat

#141 👷 Added Proxy middleware
  package.json
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/api/v1/mainnet/[...slug].js
  src/pages/api/v1/testnet/[...slug].js
  src/types/ConstantsTypes.js
  yarn.lock
Labels: chore

#144 👽️ fix: calc marketcap based on metrics total supply
  src/components/Panel2/Panel2.js
Labels: 🐛bug

#145 Docs/sample env
  .env.local.sample
  README.md
Labels: 📝documentation, chore
