Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-08, with the labels that each got.

#226 feat: hide the dao on test net #203
  src/components/Header/Navlinks/index.jsx
  src/types/NavbarTypes.js
  src/types/index.js
Labels: feat

#227 fix: disable refetch of data on window focus
  src/pages/_app.js
Labels: bug

#229 refactor: pull out home page files to different file
  public/favicon.ico
  src/components/Header/PageHeader/PageHeader.jsx
  src/components/Panel1/Panel1.jsx
  src/components/Panel1/index.js
  src/components/Panel2/Panel2.jsx
  src/components/Panel2/index.js
  src/components/Panel3/index.js
  src/components/Views/Home/Home.jsx
  src/components/Views/Home/index.js
  src/pages/index.js
Labels: chore

#231 fix: compact card text overlap on image
  src/components/common/NE_Card/NE_CompactCard/CompactCard.module.scss
Labels: bug

#233 build: package update
  package.json
Labels: chore

#235 feat: automate version bump and changelog
  .github/workflows/bump-version.yml
  .github/workflows/update-changelog.yml
  scripts/incrementMajor.js
  scripts/incrementMinor.js
  scripts/incrementPatch.js
  scripts/incrementVersion.js
Labels: chore, feat

#236 ci: move to dev dependency
  .github/workflows/bump-version.yml
  .github/workflows/update-changelog.yml
  scripts/incrementVersion.js
Labels: chore

#238 Update bump-version.yml
  .github/workflows/bump-version.yml
Labels: chore

#239 Update bump-version.yml
  .github/workflows/bump-version.yml
Labels: chore

#240 Update bump-version.yml
  .github/workflows/bump-version.yml
Labels: ✨enhancement

#244 fix: add force push
  .github/workflows/bump-version.yml
Labels: chore, bug
