Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-10, with the labels that each got.

#289 feat: generate OG image for contract on /scan/tx
  package.json
  public/og_meta_image_bot.jpg
  src/components/Header/PageHeader/Og-Bot.jsx
  src/pages/api/static/og-alert.jsx
  src/pages/scan/tx.jsx
  src/utils/common/fetch.js
  yarn.lock
Labels: feat

#288 fix: add missing href to Rtt table #224
  src/components/Panel3/Panel3.jsx
  src/components/common/NE_RTTable/NE_RTBlocks/RTBlock.jsx
Labels: bug

#287 fix: spacing between page and number #273
  src/components/common/NE_Pagination/Pagination.jsx
  src/components/common/NE_Pagination/Pagination.module.scss
Labels: bug

#291 refactor: reuse page header for meta data
  src/components/Header/PageHeader/PageHeader.jsx
  src/pages/scan/tx.jsx
Labels: refactor

#292 refactor: remove unused asset file
  src/assets/branding/GlobeBlue1000x1000.png
  src/assets/branding/GlobeBlue1200x1000.png
  src/assets/branding/GlobeWhite1000x1000.png
  src/assets/branding/GlobeWhite1200x1000.png
  src/assets/branding/NexusLogoBlue1250x225.png
  src/assets/branding/NexusLogoWhite1250x225.png
  src/assets/icons/GlobeBlue1000.png
  src/assets/icons/icon.png
  src/assets/icons/keyboard_arrow.svg
  src/assets/icons/nexus round blue icon.svg
  src/assets/icons/nexus round white icon.svg
  src/assets/icons/nexusWhite.png
  src/assets/icons/nexusblue.png
  src/assets/index.js
Labels: BREAKING CHANGES, refactor
