Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-01, with the labels that each got.

#28 Feat/component
  .editorconfig
  .eslintrc.json
  .gitignore
  .prettierignore
  .storybook/main.js
  dependencies/storybook-theme-toggle/Icons/Moon.js
  dependencies/storybook-theme-toggle/Icons/Sun.js
  dependencies/storybook-theme-toggle/ToggleTheme.js
  dependencies/storybook-theme-toggle/preset.js
  dependencies/storybook-theme-toggle/register.js
  package.json
  src/assets/images/circuit.js
  src/assets/images/error.svg
  src/assets/images/nexus_water_mark.png
  src/assets/index.js
  src/components/atoms/NE_Button/Button.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/Detail/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/index.jsx
  src/components/atoms/NE_Card/index.jsx
  src/pages/_error.js
  src/pages/error/error.module.scss
  src/pages/error/index.js
  src/pages/test.js
  src/pages/trustlist.js
  src/stories/components/Card.stories.js
  src/stories/pages/Error.stories.js
  src/styles/globals.css
  src/types/button.js
  src/types/index.js
  src/types/navbar.js
  src/types/strings.js
  src/utils/common/errorCode.js
  yarn.lock
Labels: ✨enhancement

#31 💄 chore: update favicon
  public/favicon.ico
  public/nexus-nxs-logo.svg
  public/vercel.svg
  src/pages/index.js
Labels: ✨enhancement, chore

#30 feat: added loaders ,fix: useQuery api , graph fetching
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package.json
  src/assets/data/contracts24h.json
  src/components/Chart/ChartsApex.jsx
  src/components/Panel1/Panel1.js
  src/components/Panel2/Panel2.js
  src/components/Panel3/Panel3.jsx
  src/components/atoms/DetailCard/index.jsx
  src/components/atoms/InfoCard/InfoCard.module.css
  src/components/atoms/InfoCard/index.jsx
  src/components/atoms/RTTable/RTTRow.jsx
  src/components/atoms/RTTable/RTTRowBlock.jsx
  src/components/atoms/SearchBar/SearchBar.module.css
  src/components/atoms/SearchBar/SearchBarLong.js
  src/components/atoms/SmallCard/index.jsx
  src/pages/_app.js
  src/pages/_document.js
  src/pages/about/about.module.css
  src/pages/about/index.js
  src/pages/blocks.js
  src/pages/index.js
  src/pages/scan/[addr].js
  src/pages/test.js
  src/pages/transactions.js
  src/styles/globals.css
  src/utils/converter.js
  yarn.lock
Labels: ✨enhancement

#33 feat: replace loading with shimmer
  src/components/Chart/ChartsApex.jsx
  src/components/Panel1/Panel1.js
  src/components/Panel2/Panel2.js
  src/components/atoms/NE_Shimmer/Shimmer.module.scss
  src/components/atoms/NE_Shimmer/index.jsx
  src/pages/test.js
  src/stories/components/Shimmer.stories.js
  src/styles/globals.css
Labels: ✨enhancement, feat

#34 Removed antd and added React Table
  package.json
  src/assets/data/ledger.list.blocks100.json
  src/components/Table/Table.jsx
  src/components/Table/Table.module.css
  src/components/atoms/InfoCard/index.jsx
  src/pages/blocks.js
  src/pages/richlist.js
  src/pages/test.js
  src/pages/transactions.js
  src/pages/trustlist.js
  src/styles/globals.css
  src/utils/converter.js
  yarn.lock
Labels: ✨enhancement, dependencies

#36 sidebar: modify the style and event on click
  src/components/Navbar/Navbar.js
  src/components/Navbar/Navbar.module.scss
Labels: 🐛bug, ✨enhancement, feat

#43 chore: support yarn run clean platform independency
  package.json
Labels: chore

#35 feat: 🎨 add sub category
  src/components/atoms/NE_Shimmer/Shimmer.module.scss
  src/components/atoms/NE_Shimmer/index.jsx
  src/stories/components/Shimmer.stories.js
  src/types/strings.js
Labels: ✨enhancement

#44 feat: ✨ introduce custom toast messager
  src/components/Toast/Toast.module.scss
  src/components/Toast/index.jsx
  src/components/atoms/InfoCard/index.jsx
  src/components/atoms/ToastMessage/ToastMessage.module.scss
  src/components/atoms/ToastMessage/index.jsx
  src/stories/components/ToastMessage.stories.js
  src/styles/globals.css
  src/types/index.js
  src/types/toastMessage.js
Labels: 📝documentation, feat

#51 chore: 👷add labeler actions
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ✨enhancement, chore, feat

#53 feat: 👷 add/update workflows
  .github/labeler.yml
  .github/workflows/auto-format.yml
  .github/workflows/check-lint.yml
  src/assets/data/finance.get.account.json
  src/assets/data/finance.get.trust.json
  src/assets/data/finance.transactions.account.json
  src/assets/data/ledger.list.blocks100.json
  src/assets/images/circuit.js
  src/components/AccountInfo/AccountInfo.jsx
  src/components/Chart/ApexPie.jsx
  src/components/Footer/Footer.js
  src/components/Navbar/Navbar.js
  src/components/Panel3/Panel3.jsx
  src/components/Table/Pagination.jsx
  src/components/Table/Pagination.module.scss
  src/components/TrustInfo/TrustInfo.jsx
  src/components/atoms/ErrorMessage/index.jsx
  src/components/atoms/InfoCard/index.jsx
  src/components/atoms/Rail/index.jsx
  src/components/atoms/SmallCard/index.jsx
  src/hooks/useDarkMode/useDarkMode.js
  src/pages/TestComponents/BlockEstimator.jsx
  src/pages/_app.js
  src/pages/about/index.js
  src/pages/richlist.js
  src/pages/scan/[addr].js
  src/pages/test.js
  src/pages/trustlist.js
  src/styles/richlist.module.scss
  src/styles/trustlist.module.scss
  src/utils/converter.js
Labels: ⚠️BREAKING CHANGES!!!, chore
