Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-04, with the labels that each got.

#149 pr labeler for .md file
  .github/labeler.yml
Labels: 🐛bug, chore

#151 Release v0.0.8
  .env.local.sample
  .github/labeler.yml
  .github/workflows/labeler.yml
  .husky/post-merge
  .prettierignore
  README.md
  package.json
  public/og_meta_image.jpg
  src/components/Header/PageHeader/PageHeader.jsx
  src/components/Panel2/Panel2.js
  src/components/UserAccount/AccountInfo/AccountInfo.jsx
  src/components/atoms/NE_Card/NE_SmallCard/SmallCard.module.scss
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/api/v1/mainnet/[...slug].js
  src/pages/api/v1/testnet/[...slug].js
  src/pages/index.js
  src/pages/scan/[addr].js
  src/types/ConstantsTypes.js
  src/types/PageMetaTypes.js
  src/utils/converter.js
  yarn.lock
Labels: 📝documentation, chore, dependencies

#157 fix(meta): update meta urls
  .env.local.sample
  public/og_meta_image.jpg
  src/components/Header/PageHeader/PageHeader.jsx
Labels: chore

#158 feat(meta): added extra meta details
  public/favicon2.ico
  src/components/Header/PageHeader/PageHeader.jsx
Labels: chore

#159 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

#160 Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: chore

#162 fix: header disappears while scrolling
  public/favicon2.ico
  src/components/Header/Header.jsx
  src/components/Header/Header.module.scss
  src/utils/common/debounce.js
  src/utils/common/index.js
  src/utils/common/throttle.js
Labels: ✨enhancement, chore

#163 revamp: update github issue/pr template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_req.md
  .github/pull_request_template.md
Labels: chore

#142 ✨ Dynamic Endless pagination for trustlist
  src/components/Table/DynamicPagination.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/trustlist/index.js
Labels: 🚨DON'T MERGE

#164 refactor: convert styles file to clusters
  .vscode/settings.json
  next.config.js
  src/components/atoms/DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Dropdown/Dropdown.module.scss
  src/styles/_colors.scss
  src/styles/_fonts.scss
  src/styles/_mixins.scss
  src/styles/_theme.scss
  src/styles/_variables.scss
  src/styles/globals.scss
  src/types/FooterTypes.js
Labels: chore

#168 fix: style module import error
  .storybook/preview.js
  dependencies/storybook-theme-toggle/ToggleTheme.js
Labels: chore

#169 refactor: delete duplicate detail-card file
  src/components/Panel2/Panel2.js
  src/components/atoms/DetailCard/DetailCard.module.scss
  src/components/atoms/DetailCard/TypeOne.jsx
  src/components/atoms/DetailCard/TypeTwo.jsx
  src/components/atoms/DetailCard/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/DetailCard.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Market/Market.module.scss
  src/components/atoms/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/index.jsx
  src/stories/components/Card.stories.js
  src/styles/_mixins.scss
Labels: 📝documentation, ✨enhancement

#171 chore: dependency package upgrade
  package.json
  src/assets/icons/index.js
  src/components/atoms/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/atoms/NE_Card/NE_DetailCard/index.jsx
  src/components/atoms/NE_SearchBar/SearchBar.js
  yarn.lock
Labels: ⚠️BREAKING CHANGES!!!, chore
