Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-09, with the labels that each got.

#248 feat: detail card active ticker style revamp
  src/components/Panel2/Panel2.jsx
  src/components/common/NE_Card/NE_DetailCard/DetailCard.module.scss
  src/components/common/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
Labels: ❔question, feat

#249 feat: market price number precision to 6 digits
  src/components/Panel2/Panel2.jsx
  src/components/common/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/common/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Market/index.jsx
  src/utils/common/index.js
  src/utils/common/number.js
Labels: feat

#250 fix: high and medium static code analysis / deepscan
  README.md
  src/components/Header/Header.jsx
  src/components/Header/Navbar/Navbar.jsx
  src/components/Header/Navlinks/index.jsx
  src/components/Panel2/Panel2.jsx
  src/components/TestComponents/BlockEstimator.jsx
  src/components/Toast/index.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/About/About.jsx
  src/components/Views/Dao/InvoiceModal/index.jsx
  src/components/Views/Metrics/Metrics.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/common/InfoCard/index.jsx
  src/components/common/NE_RTTable/NE_DateTime/DateTime.jsx
  src/components/common/NE_RTTable/NE_RTBlocks/RTBlock.jsx
  src/components/common/NE_RTTable/RTTable.jsx
  src/hooks/useIsMobile/useIsMobile.js
  src/pages/scan/[addr].js
  src/utils/common/debounce.js
  src/utils/converter.js
Labels: 📝documentation, chore, bug

#252 docs: add some badges to readme
  README.md
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/Richlist/Richlist.jsx
Labels: 📝documentation, chore

#251 revert: remove storybook
  .eslintrc.json
  .github/labeler.yml
  .gitignore
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  dependencies/storybook-theme-toggle/Icons/Moon.js
  dependencies/storybook-theme-toggle/Icons/Sun.js
  dependencies/storybook-theme-toggle/ToggleTheme.js
  dependencies/storybook-theme-toggle/preset.js
  dependencies/storybook-theme-toggle/register.js
  package.json
  src/stories/Example/Button.jsx
  src/stories/Example/Button.stories.jsx
  src/stories/Example/Header.jsx
  src/stories/Example/Header.stories.jsx
  src/stories/Example/Page.jsx
  src/stories/Example/Page.stories.jsx
  src/stories/Example/button.css
  src/stories/Example/header.css
  src/stories/Example/page.css
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/components/Button.stories.js
  src/stories/components/Card.stories.js
  src/stories/components/DropdownMenu.stories.js
  src/stories/components/Loader.stories.js
  src/stories/components/Searchbar.stories.js
  src/stories/components/Shimmer.stories.js
  src/stories/components/Text.stories.js
  src/stories/components/ToastMessage.stories.js
  src/stories/pages/Error.stories.js
  src/stories/pages/about.stories.js
  src/stories/pages/home.stories.jsx
  src/utils/common/number.js
  yarn.lock
Labels: 📝documentation, chore

#257 chore: update next, react and react-dom
  package.json
  yarn.lock
Labels: chore

#258 fix: passing boolean to class methods
  src/components/Panel3/Panel3.jsx
  src/components/common/NE_Card/NE_CompactCard/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
Labels: bug

#259 fix: scan layout not showing
  src/pages/scan/[addr].js
Labels: bug

#261 feat: add new error message card
  src/assets/images/error-bill.svg
  src/components/common/NE_ErrorMessage/ErrorMessage.module.scss
  src/components/common/NE_ErrorMessage/index.jsx
  src/pages/scan/[addr].js
Labels: feat

#260 fix: scan page not showing error
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/Views/Trustlist/Trustlist.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/scan/index.js
Labels: bug

#263 ci: improve template and labeler
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
Labels: chore

#264 feat: merge isLoading, isError to single component
  package.json
  src/components/HOC/PromiseLayout/index.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/Views/Trustlist/Trustlist.jsx
  src/pages/scan/[addr].js
  src/pages/scan/index.js
Labels: chore, feat

#265 Release 1.0.4
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
  package.json
  src/assets/images/error-bill.svg
  src/components/HOC/PromiseLayout/index.jsx
  src/components/Panel3/Panel3.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/Views/Trustlist/Trustlist.jsx
  src/components/common/NE_Card/NE_CompactCard/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
  src/components/common/NE_ErrorMessage/ErrorMessage.module.scss
  src/components/common/NE_ErrorMessage/index.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/scan/[addr].js
  src/pages/scan/index.js
  src/styles/globals.scss
  yarn.lock
Labels: BREAKING CHANGES, chore

#268 Revert "Release 1.0.4"
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
  package.json
  src/assets/images/error-bill.svg
  src/components/HOC/PromiseLayout/index.jsx
  src/components/Panel3/Panel3.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/Views/Trustlist/Trustlist.jsx
  src/components/common/NE_Card/NE_CompactCard/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
  src/components/common/NE_ErrorMessage/ErrorMessage.module.scss
  src/components/common/NE_ErrorMessage/index.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/scan/[addr].js
  src/pages/scan/index.js
  src/styles/globals.scss
  yarn.lock
Labels: BREAKING CHANGES, chore

#270 "Revert "Release 1.0.4""
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
  package.json
  src/assets/images/error-bill.svg
  src/components/HOC/PromiseLayout/index.jsx
  src/components/Panel3/Panel3.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/Views/Trustlist/Trustlist.jsx
  src/components/common/NE_Card/NE_CompactCard/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
  src/components/common/NE_ErrorMessage/ErrorMessage.module.scss
  src/components/common/NE_ErrorMessage/index.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/scan/[addr].js
  src/pages/scan/index.js
  src/styles/globals.scss
  yarn.lock
Labels: chore, ⚠️BREAKING CHANGES!!!

#274 fix: trust address scan error
  src/pages/scan/[addr].js
Labels: bug

#275 build/hotfix
  package.json
  src/pages/scan/[addr].js
Labels: chore, bug, patch, skip

#267 Merge pull request #265 from rayanfer32/develop
  CHANGELOG.md
  package.json
Labels: chore, skip

#278 fix: case when trust = 0
  src/pages/scan/[addr].js
Labels: bug

#280 ci: fix relase drafter generation pr
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
Labels: chore, bug, workflow

#279 fix: case handle trust value being negative
  src/pages/scan/[addr].js
Labels: bug

#281 fix: about page contributer
  src/components/Views/About/About.jsx
Labels: bug

#282 release pr v1.0.6
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
  package.json
  src/components/Views/About/About.jsx
  src/pages/scan/[addr].js
Labels: patch, skip

#285 reverse merge
  CHANGELOG.md
  package.json
Labels: skip
