Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-07, with the labels that each got.

#191 feat: add new page ambassador dao
  src/pages/ambassador-dao/index.js
  src/pages/network/index.js
  src/types/NavbarTypes.js
Labels: feat

#195 Fix/nav uneven flow
  src/components/HOC/Modal/index.jsx
  src/components/HOC/Modal/modal.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/Navbar/Navbar.module.scss
  src/components/Header/Navlinks/Navlinks.module.scss
  src/components/Header/Navlinks/index.jsx
  src/components/Table/Pagination.jsx
  src/components/Table/Table.jsx
  src/components/Table/Table.module.scss
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.module.scss
  src/components/Views/AmbassadorDao/index.jsx
  src/components/Views/Dao/InvoiceModal/index.jsx
  src/components/Views/Dao/InvoiceModal/invoiceModal.module.scss
  src/components/Views/Dao/InvoiceStatus/invoiceStatus.jsx
  src/components/Views/Dao/InvoiceStatus/invoiceStatus.module.scss
  src/components/Views/Dao/Invoices/columns.js
  src/components/Views/Dao/Invoices/index.jsx
  src/components/Views/Dao/Invoices/invoices.module.scss
  src/components/Views/Dao/dao.module.scss
  src/components/Views/Dao/index.jsx
  src/components/Views/Richlist/Richlist.jsx
  src/components/common/NE_Dropdown/Dropdown.module.scss
  src/components/common/NE_Loader/Loader.module.scss
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/about/index.js
  src/pages/ambassador-dao/index.js
  src/pages/dao/ambassador/index.js
  src/pages/dao/developer/index.js
  src/pages/dao/invoices/[username].js
  src/styles/_colors.scss
  src/styles/_theme.scss
  src/styles/globals.scss
  src/types/DaoAccounts.js
  src/types/NavbarTypes.js
  src/types/PageMetaTypes.js
  src/types/QueryKeys.js
  src/types/index.js
  src/utils/converter.js
Labels: 🐛bug

#196 feat: add new custom dynamic link
  src/components/common/NE_CopyText/CopyText.jsx
  src/components/common/NE_RTTable/NE_BlockData/BlockData.jsx
  src/components/common/NE_RTTable/NE_RTTRansactions/RTTransaction.jsx
  src/components/common/PushLink/index.jsx
Labels: feat

#197 chore: add danger file and refactor workflows
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_req.md
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/dangerjs.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-changelog.yml
  dangerfile.js
  package.json
  yarn.lock
Labels: chore

#198 fix: add highlights & icons to links
  src/components/Views/Dao/dao.module.scss
  src/components/Views/Dao/index.jsx
Labels: feat, bug

#199 ci: remove non essential workflows
  .github/workflows/auto-format.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

#200 Fix/clear console errors
  src/components/Views/Dao/dao.module.scss
  src/components/Views/Dao/index.jsx
  src/components/common/NE_Card/NE_SmallCard/index.jsx
  src/components/common/NE_RTTable/NE_BlockData/BlockData.jsx
Labels: bug

#204 feat: add caching for invoices
  src/components/Views/Dao/Invoices/index.jsx
  src/components/Views/Dao/Invoices/invoices.module.scss
  src/hooks/useNetwork/useNetwork.jsx
Labels: feat

#208 feat: change theme toggle for desktop
  src/components/common/NE_ThemeMode/ThemeMode.module.scss
  src/components/common/NE_ThemeMode/index.jsx
Labels: feat

#209 feat: invoice scan with standard url pattern
  src/components/Views/Dao/InvoiceModal/index.jsx
  src/components/Views/Dao/Invoices/index.jsx
  src/components/common/PushLink/index.jsx
  src/pages/scan/index.js
Labels: bug

#210 feat: separate invoice page and modal
  src/components/Views/Dao/InvoiceModal/index.jsx
  src/components/Views/Dao/InvoiceModal/invoiceModal.module.scss
  src/components/Views/Dao/InvoiceTable/columns.js
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Dao/InvoiceTable/invoices.module.scss
  src/pages/dao/invoices/[username].js
  src/pages/scan/[addr].js
  src/pages/scan/index.js
Labels: ✨enhancement, feat, bug

#211 ci: Update release-drafter.yml
  .github/release-drafter.yml
Labels: chore

#212 refactor: support util function for multiple classnames
  src/components/Footer/Footer.jsx
  src/components/common/NE_Button/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
  src/components/common/NE_Card/index.jsx
  src/components/common/NE_Dropdown/Dropdown.jsx
  src/components/common/NE_Loader/CircularLoader.jsx
  src/components/common/NE_ToastMessage/index.jsx
  src/components/common/Rail/index.jsx
  src/pages/about/index.js
  src/styles/_default.scss
  src/styles/_keyframes.scss
  src/styles/globals.scss
Labels: refactor

#215 build: version bump upto v1.0.1
  package.json
Labels: chore

#214 Release v1.0.1
  .github/release-drafter.yml
  package.json
  src/components/Footer/Footer.jsx
  src/components/Views/Dao/InvoiceModal/index.jsx
  src/components/Views/Dao/InvoiceModal/invoiceModal.module.scss
  src/components/Views/Dao/InvoiceTable/columns.js
  src/components/Views/Dao/InvoiceTable/index.jsx
  src/components/Views/Dao/InvoiceTable/invoices.module.scss
  src/components/common/NE_Button/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/common/NE_Card/NE_DetailCard/index.jsx
  src/components/common/NE_Card/index.jsx
  src/components/common/NE_Dropdown/Dropdown.jsx
  src/components/common/NE_Loader/CircularLoader.jsx
  src/components/common/NE_ThemeMode/ThemeMode.module.scss
  src/components/common/NE_ThemeMode/index.jsx
  src/components/common/NE_ToastMessage/index.jsx
  src/components/common/PushLink/index.jsx
  src/components/common/Rail/index.jsx
  src/pages/about/index.js
  src/pages/dao/invoices/[username].js
  src/pages/scan/[addr].js
  src/pages/scan/index.js
  src/styles/_default.scss
  src/styles/_keyframes.scss
  src/styles/globals.scss
  src/types/DaoAccounts.js
Labels: chore, patch

#219 feat: add version number to footer
  src/components/common/NE_Badge/Badge.jsx
  src/components/common/NE_Badge/Badge.module.scss
  src/components/common/NE_Badge/index.js
  src/styles/_theme.scss
  src/types/FooterTypes.js
  src/utils/getVersion.js
Labels: feat

#220 feat: show node version in footer
  src/components/common/NE_Badge/Badge.module.scss
  src/components/common/NE_Version/NE_Version.jsx
  src/types/FooterTypes.js
Labels: feat

#221 fix: menu page on mobile view
  src/components/Header/Header.jsx
  src/components/Header/Navbar/Navbar.module.scss
Labels: bug

#222 hotfix: update dependency and fix bugs
  src/components/Header/Header.jsx
  src/components/Header/Navbar/Navbar.module.scss
  src/components/common/NE_Badge/Badge.jsx
  src/components/common/NE_Badge/Badge.module.scss
  src/components/common/NE_Badge/index.js
  src/components/common/NE_Version/NE_Version.jsx
  src/styles/_theme.scss
  src/types/FooterTypes.js
  src/utils/getVersion.js
  yarn.lock
Labels: chore, bug
