Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-05, with the labels that each got.

#174 fix: lint errors
  .eslintrc.json
  package.json
  src/components/Chart/ApexTest.jsx
  src/components/TestComponents/BlockEstimator.jsx
  src/components/TestComponents/ChartApi.jsx
  src/components/UserAccount/AccountInfo/AccountInfo.jsx
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
  src/components/UserAccount/UserAccount.jsx
  src/pages/blocks.js
  src/pages/index.js
  src/pages/trustlist/index.js
Labels: 🐛bug, chore

#172 fix: initial theme toggle output icon
  src/components/Header/Header.jsx
  src/components/Header/Navbar/Navbar.jsx
  src/components/atoms/NE_Card/NE_SmallCard/index.jsx
  src/components/atoms/NE_ThemeMode/index.jsx
  src/contexts/AppContext.js
  src/hooks/useDarkMode/useDarkMode.js
Labels: 🐛bug

#175 feat: support niamey font
  src/assets/fonts/niamey__.ttf
  src/components/Header/Brand/Brand.module.scss
  src/components/Header/Brand/index.jsx
  src/styles/_fonts.scss
  src/styles/globals.scss
Labels: feat

#184 Release v0.0.9a
  package.json
  src/components/Trustlist/Trustlist.jsx
  src/components/Trustlist/trustlist.module.scss
  src/components/atoms/NE_RTTable/NE_RTTRansactions/RTTransaction.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/trustlist/index.js
Labels: chore
