Repository rayanfer32/nexus-explorer-next, pull requests merged in 2022-02, with the labels that each got.

#56 chore: ♻️ refactor workflow
  .github/labeler.yml
  .github/workflows/auto-format.yml
  .github/workflows/check-lint.yml
Labels: chore

#55 feat: ✨ add copied check mark
  src/components/Panel3/Panel3.module.css
  src/components/Toast/index.jsx
  src/components/atoms/CopyText/CopyText.jsx
  src/components/atoms/CopyText/index.js
  src/components/atoms/InfoCard/index.jsx
  src/components/atoms/NE_ToastMessage/ToastMessage.module.scss
  src/components/atoms/NE_ToastMessage/index.jsx
  src/components/atoms/RTTable/RTTRow.jsx
  src/components/atoms/RTTable/RTTRow.module.scss
  src/components/atoms/RTTable/RTTRowBlock.jsx
  src/components/atoms/RTTable/RTTRowBlock.module.scss
  src/components/atoms/RTTable/RTTable.jsx
  src/components/atoms/RTTable/RTTable.module.scss
  src/stories/components/ToastMessage.stories.js
Labels: 📝documentation

#57 update the pagination style
  src/components/AccountInfo/AccountInfo.jsx
  src/components/Table/Pagination.jsx
  src/components/Table/Pagination.module.scss
  src/components/Table/Table.jsx
  src/components/Table/Table.module.scss
  src/pages/globalnames.jsx
  src/pages/namespaces.jsx
  src/pages/richlist/index.js
  src/pages/tokens/index.jsx
  src/pages/transactions.js
  src/pages/trustlist/index.js
  src/styles/globals.css
Labels: ✨enhancement

#59 feat+style: Added Dynamic pagination for blocks and Transactions, subtle card borders
  src/components/Chart/ChartsApex.module.css
  src/components/Navbar/Navbar.module.scss
  src/components/Panel1/Panel1.js
  src/components/Table/DynamicPagination.jsx
  src/components/Table/Table.jsx
  src/components/atoms/CopyText/CopyText.jsx
  src/components/atoms/DetailCard/DetailCard.module.scss
  src/components/atoms/DetailCard/TypeOne.jsx
  src/components/atoms/DetailCard/TypeTwo.jsx
  src/components/atoms/DetailCard/index.jsx
  src/components/atoms/InfoCard/InfoCard.module.scss
  src/components/atoms/InfoCard/index.jsx
  src/components/atoms/SmallCard/SmallCard.module.scss
  src/pages/blocks.js
  src/pages/transactions.js
  src/styles/globals.css
  src/utils/helper.js
Labels: feat

#61 Added local charting api support
  src/components/Chart/ChartsApex.jsx
  src/components/Table/DynamicPagination.jsx
  src/pages/TestComponents/BlockEstimator.jsx
  src/pages/TestComponents/ChartApi.jsx
  src/pages/api/hello.js
  src/pages/scan/[addr].js
  src/pages/test.js
  src/pages/transactions.js
  src/styles/globals.css
Labels: feat

#63 capitalize the all constants
  src/components/AccountInfo/AccountInfo.jsx
  src/components/Chart/ApexPie.jsx
  src/components/Chart/ChartsApex.jsx
  src/components/Footer/Footer.js
  src/components/Navbar/Navbar.js
  src/components/Panel3/Panel3.jsx
  src/components/atoms/NE_Loader/CircularLoader.jsx
  src/components/atoms/NE_Loader/DotLoader.jsx
  src/components/atoms/NE_Loader/index.jsx
  src/components/atoms/NE_Shimmer/index.jsx
  src/hooks/useDarkMode/useDarkMode.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/about/index.js
  src/pages/blocks.js
  src/pages/error/index.js
  src/pages/index.js
  src/pages/metrics/index.js
  src/pages/richlist/index.js
  src/pages/scan/[addr].js
  src/pages/test.js
  src/pages/transactions.js
  src/pages/trustlist/index.js
  src/stories/components/Button.stories.js
  src/stories/components/Loader.stories.js
  src/stories/components/Text.stories.js
  src/stories/components/ToastMessage.stories.js
  src/types/ButtonTypes.js
  src/types/ColorsTypes.js
  src/types/ConstantsTypes.js
  src/types/FooterTypes.js
  src/types/LinksTypes.js
  src/types/NavbarTypes.js
  src/types/StringsTypes.js
  src/types/ThemeTypes.js
  src/types/ToastMessageTypes.js
  src/types/button.js
  src/types/colors.js
  src/types/constants.js
  src/types/index.js
  src/types/strings.js
  src/types/theme.js
  src/types/toastMessage.js
  src/utils/helper.js
Labels: 📝documentation, ⚠️BREAKING CHANGES!!!

#71 refactor: 🎨 footer redesign
  src/components/Footer/Footer.js
  src/components/Footer/Footer.module.css
  src/components/Footer/Footer.module.scss
  src/pages/about/index.js
  src/styles/globals.css
  src/types/FooterTypes.js
Labels: ⚠️BREAKING CHANGES!!!

#86 feat+fix: increase api limit ,dynamically fetch contributors
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/about/index.js
Labels: ✨enhancement

#88 prevent breaking of copy button, fix RTT table overflow
  package.json
  src/components/Panel2/Panel2.js
  src/components/atoms/CopyText/CopyText.jsx
  src/components/atoms/RTTable/RTTable.module.scss
  src/styles/index.module.scss
Labels: 🐛bug, chore

#93 ♻️ refactor: theme-toggle button
  src/components/atoms/ThemeMode/ThemeMode.module.css
  src/components/atoms/ThemeMode/ThemeMode.module.scss
  src/components/atoms/ThemeMode/index.jsx
Labels: ✨enhancement

#91 fix: testnet chart showing wrong initial data, update metrics metadata, refactor navbar
  README.md
  public/favicon.svg
  src/assets/icons/apple.png
  src/assets/icons/dark_mode_black_24dp.svg
  src/assets/icons/nexusWhiteSmall.svg
  src/assets/icons/playstore.png
  src/assets/icons/wallet.png
  src/assets/index.js
  src/components/Chart/ChartsApex.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/index.js
  src/components/Header/Brand/Brand.module.scss
  src/components/Header/Brand/index.jsx
  src/components/Header/Header.jsx
  src/components/Header/Header.module.scss
  src/components/Header/Navbar/Navbar.jsx
  src/components/Header/Navbar/Navbar.module.scss
  src/components/Header/Navbar/index.js
  src/components/Header/Navlinks/Navlinks.module.scss
  src/components/Header/Navlinks/index.jsx
  src/components/Header/index.js
  src/components/Layout/Layout.js
  src/components/Layout/Layout.module.scss
  src/components/Navbar/Navbar.js
  src/components/Navbar/Navbar.module.scss
  src/components/TestComponents/DropdownMenu.jsx
  src/components/TestComponents/index.js
  src/components/TestComponents/index.jsx
  src/components/atoms/NE_Dropdown/Dropdown.jsx
  src/components/atoms/NE_Dropdown/Dropdown.module.scss
  src/components/atoms/NE_Dropdown/index.js
  src/components/atoms/SelectInput/SelectInput.module.scss
  src/components/atoms/SelectInput/index.js
  src/pages/_document.js
  src/pages/about/index.js
  src/pages/metrics/index.js
  src/pages/test.jsx
  src/stories/components/DropdownMenu.stories.js
  src/styles/globals.css
  src/types/FooterTypes.js
  src/types/LinksTypes.js
  src/types/NavbarTypes.js
  src/types/StringsTypes.js
Labels: 🐛bug, 📝documentation, ✨enhancement, ⚠️BREAKING CHANGES!!!, chore

#95 🐛 prevent going below 0
  src/components/Panel2/Panel2.js
Labels: 🐛bug

#101 Release v0.0.4
  README.md
  public/favicon.svg
  src/assets/icons/apple.png
  src/assets/icons/dark_mode_black_24dp.svg
  src/assets/icons/nexusWhiteSmall.svg
  src/assets/icons/playstore.png
  src/assets/icons/wallet.png
  src/assets/index.js
  src/components/Chart/ChartsApex.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/index.js
  src/components/Header/Brand/Brand.module.scss
  src/components/Header/Brand/index.jsx
  src/components/Header/Header.jsx
  src/components/Header/Header.module.scss
  src/components/Header/Navbar/Navbar.jsx
  src/components/Header/Navbar/Navbar.module.scss
  src/components/Header/Navbar/index.js
  src/components/Header/Navlinks/Navlinks.module.scss
  src/components/Header/Navlinks/index.jsx
  src/components/Header/index.js
  src/components/Layout/Layout.js
  src/components/Layout/Layout.module.scss
  src/components/Navbar/Navbar.js
  src/components/Navbar/Navbar.module.scss
  src/components/Panel2/Panel2.js
  src/components/TestComponents/DropdownMenu.jsx
  src/components/TestComponents/index.js
  src/components/TestComponents/index.jsx
  src/components/atoms/InfoCard/InfoCard.module.scss
  src/components/atoms/NE_Dropdown/Dropdown.jsx
  src/components/atoms/NE_Dropdown/Dropdown.module.scss
  src/components/atoms/NE_Dropdown/index.js
  src/components/atoms/SelectInput/SelectInput.module.scss
  src/components/atoms/SelectInput/index.js
  src/components/atoms/ThemeMode/ThemeMode.module.css
  src/components/atoms/ThemeMode/ThemeMode.module.scss
  src/components/atoms/ThemeMode/index.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/_document.js
  src/pages/about/index.js
  src/pages/metrics/index.js
  src/pages/test.jsx
  src/stories/components/DropdownMenu.stories.js
  src/styles/globals.css
  src/types/FooterTypes.js
  src/types/LinksTypes.js
  src/types/NavbarTypes.js
  src/types/StringsTypes.js
Labels: 📝documentation, ⚠️BREAKING CHANGES!!!, chore

#102 version bump up v0.0.4
  package.json
Labels: chore

#97 chore: support multi app context update and added post-merge husky config
  .husky/post-merge
  package.json
  src/contexts/AppContext.js
  yarn.lock
Labels: chore, feat

#104 fix#103 Make pages mobile friendly, remove real-time table for mobile users
  src/components/Chart/ApexPie.jsx
  src/components/Header/Navlinks/index.jsx
  src/components/Panel1/Panel1.js
  src/components/Panel1/Panel1.module.scss
  src/components/Panel2/Panel2.js
  src/components/Panel2/Panel2.module.css
  src/components/Panel2/Panel2.module.scss
  src/components/Panel3/Panel3.jsx
  src/components/Panel3/Panel3.module.scss
  src/components/Table/Table.jsx
  src/components/Table/Table.module.scss
  src/components/atoms/Rail/index.jsx
  src/components/atoms/Rail/rail.module.scss
  src/hooks/useWindowSize/useWindowSize.jsx
  src/pages/index.js
  src/pages/richlist/index.js
Labels: 🐛bug, ✨enhancement, 🚨DON'T MERGE

#106 refactor: components styles and performance
  src/assets/icons/index.js
  src/components/AccountInfo/AccountInfo.jsx
  src/components/Chart/ApexPie.jsx
  src/components/Chart/ChartsApex.jsx
  src/components/Chart/ChartsApex.module.css
  src/components/Chart/ChartsApex.module.scss
  src/components/Header/Navbar/Navbar.jsx
  src/components/Panel1/Panel1.js
  src/components/Panel1/Panel1.module.scss
  src/components/TestComponents/DropdownMenu.jsx
  src/components/TestComponents/index.jsx
  src/components/atoms/CopyText/index.js
  src/components/atoms/InfoCard/index.jsx
  src/components/atoms/NE_Card/Card.module.scss
  src/components/atoms/NE_Card/NE_SmallCard/SmallCard.module.scss
  src/components/atoms/NE_Card/NE_SmallCard/index.jsx
  src/components/atoms/NE_Card/index.jsx
  src/components/atoms/NE_CopyText/CopyText.jsx
  src/components/atoms/NE_CopyText/index.js
  src/components/atoms/NE_ThemeMode/ThemeMode.module.scss
  src/components/atoms/NE_ThemeMode/index.jsx
  src/pages/globalnames.jsx
  src/pages/namespaces.jsx
  src/pages/richlist/index.js
  src/pages/tokens/index.jsx
  src/pages/transactions.js
  src/pages/trustlist/index.js
  src/stories/components/Card.stories.js
  src/styles/globals.css
  src/types/ColorsTypes.js
Labels: 📝documentation, ⚠️BREAKING CHANGES!!!
