Repository rayanfer32/nexus-explorer-next, pull requests merged in 2023-01, with the labels that each got.

#306 feat: shimmer-fallback
  src/components/Panel1/Panel1.jsx
  src/components/Panel2/Panel2.jsx
  src/types/DaoAccounts.js
Labels: feat

#304 fix: make footer year dynamic
  src/types/FooterTypes.js
Labels: bug

#307 feat: show loading indicator for dao balances, fix: richlist theme toggle
  .vscode/settings.json
  src/components/Views/Dao/dao.module.scss
  src/components/Views/Dao/index.jsx
  src/components/common/NE_Chart/ChartApexPie/apex_pie.jsx
  src/hooks/useDarkMode/useDarkMode.js
Labels: feat

#303 Main
  CHANGELOG.md
Labels: chore, skip

#308 refactor: merge single type action
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/dangerjs.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-drafter.yml
Labels: refactor

#311 fix: global theme not set
  src/hooks/useDarkMode/useDarkMode.js
Labels: bug

#312 fix: footer links
  src/types/FooterTypes.js
Labels: bug

#313 feat: new og image for Nexus Alerts
  public/nexus_water_mark.png
  src/assets/fonts/RobotoMono__.ttf
  src/components/Header/PageHeader/Og-Bot.jsx
  src/pages/api/static/og-alert.jsx
Labels: BREAKING CHANGES

#310 feat: create loading shimmer for panel 1 and 2
  src/components/Panel1/Panel1.jsx
  src/components/Panel2/Panel2.jsx
  src/components/common/NE_Card/Card.module.scss
  src/components/common/NE_Card/NE_CompactCard/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/common/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/common/NE_Card/NE_SmallCard/index.jsx
  src/components/common/NE_Card/index.jsx
  src/components/common/NE_Chart/ChartApexArea/apex_area.jsx
  src/components/common/NE_Chart/ChartsApex.module.scss
  src/components/common/NE_Shimmer/index.jsx
  src/styles/_mixins.scss
  src/styles/_theme.scss
Labels: feat

#314 Release: v1.1.1
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/dangerjs.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-drafter.yml
  .vscode/settings.json
  package.json
  public/nexus_water_mark.png
  src/assets/fonts/RobotoMono__.ttf
  src/components/Header/PageHeader/Og-Bot.jsx
  src/components/Panel1/Panel1.jsx
  src/components/Panel2/Panel2.jsx
  src/components/Views/Dao/dao.module.scss
  src/components/Views/Dao/index.jsx
  src/components/common/NE_Card/Card.module.scss
  src/components/common/NE_Card/NE_CompactCard/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Basic/Basic.module.scss
  src/components/common/NE_Card/NE_DetailCard/Basic/index.jsx
  src/components/common/NE_Card/NE_DetailCard/Market/index.jsx
  src/components/common/NE_Card/NE_SmallCard/index.jsx
  src/components/common/NE_Card/index.jsx
  src/components/common/NE_Chart/ChartApexArea/apex_area.jsx
  src/components/common/NE_Chart/ChartApexPie/apex_pie.jsx
  src/components/common/NE_Chart/ChartsApex.module.scss
  src/components/common/NE_Shimmer/index.jsx
  src/hooks/useDarkMode/useDarkMode.js
  src/pages/api/static/og-alert.jsx
  src/styles/_mixins.scss
  src/styles/_theme.scss
  src/types/DaoAccounts.js
  src/types/FooterTypes.js
Labels: patch, skip

#321 fix: check if value isInvalid instead of isNaN
  src/components/Panel1/Panel1.jsx
  src/components/Panel2/Panel2.jsx
Labels: bug

#322 feat: show token , globalname and namespace details
  src/components/Views/GlobalNames/GlobalNames.jsx
  src/components/Views/Namespaces/Namespaces.jsx
  src/components/Views/Tokens/Tokens.jsx
  src/hooks/useNetwork/useNetwork.jsx
  src/pages/scan/index.js
Labels: feat

#316 fix: create draft release tag
  .github/workflows/release-drafter.yml
Labels: bug

#327 fix: expanded width for testnet
  src/styles/_mixins.scss
Labels: bug

#324 feat: show calculated reward rate
  src/components/UserAccount/AccountDetail/AccountDetail.jsx
  src/components/UserAccount/UserAccount.jsx
Labels: feat

#328 ci: bump version and release automation v2
  .github/release-drafter.yml
  .github/workflows/bump-version.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/update-changelog.yml
Labels: workflow
