Repository rayanfer32/nexus-explorer-next, pull requests merged in 2023-05, with the labels that each got.

#354 chore: back-merge v1.3.0
  .vscode/settings.json
  package.json
Labels: chore

#352 feat: show "4s ago" indicator instead of the UTC time on the RTT block
  package.json
  src/components/Panel3/Panel3.jsx
  src/components/common/NE_RTTable/NE_DateTime/DateTime.jsx
  src/pages/_app.js
  yarn.lock
Labels: chore, feat

#351 feat: show infocard count
  src/components/common/InfoCard/InfoCard.module.scss
  src/components/common/InfoCard/index.jsx
Labels: feat

#349 feat: show total NXS on tritium in metrics page
  src/components/Views/Metrics/Metrics.jsx
  src/hooks/useNetwork/useNetwork.jsx
Labels: feat
