Repository rayanfer32/nexus-explorer-next, pull requests merged in 2023-03, with the labels that each got.

#337 feat: load dao info from /public
  public/ambassadors.json
  public/developers.json
  public/embassy.json
  src/pages/dao/ambassador/index.js
  src/pages/dao/developer/index.js
  src/pages/dao/embassy/index.js
  src/types/DaoAccounts.js
Labels: chore, feat

#338 feat: use monospace font for addresses
  src/components/common/NE_CopyText/CopyText.jsx
  src/styles/_fonts.scss
  src/styles/globals.scss
Labels: feat

#336 fix: access from and to address correctly
  src/components/Panel3/Panel3.jsx
Labels: 🐛bug

#332 test-ci/refactor release flow
  .github/workflows/release.yml
  .github/workflows/update-changelog.yml
Labels: chore, skip, workflow, test

#335 feat: page navigaiton animations using framer motion
  package.json
  src/components/Layout/Layout.jsx
  src/pages/_app.js
  src/utils/page_anim_hotfix.js
  yarn.lock
Labels: chore, feat
