Repository rayanfer32/nexus-explorer-next, pull requests merged in 2023-04, with the labels that each got.

#341 chore: sync release and develop branch
  CHANGELOG.md
  package.json
Labels: skip

#343 fix: og alert api
  src/components/Header/PageHeader/Og-Bot.jsx
Labels: bug

#347 feat: revamp header
  .vscode/settings.json
  package.json
  src/components/Header/Header.jsx
  src/components/Header/Header.module.scss
  src/components/Header/NavDropdown/NavDropdown.jsx
  src/components/Header/NavDropdown/NavDropdown.module.scss
  src/components/Header/NavDropdown/index.js
  src/components/Header/Navbar/Navbar.jsx
  src/components/Header/Navbar/Navbar.module.scss
  src/components/Header/Navbar/index.js
  src/components/Header/Navlinks/Navlinks.module.scss
  src/components/Header/Navlinks/index.jsx
  src/components/Header/index.js
  src/components/Views/Blocks/Blocks.jsx
  src/components/common/NE_Button/index.jsx
  src/components/common/NE_Dropdown/index.js
  src/pages/dao/embassy/index.js
  src/types/NavbarTypes.js
  src/types/index.js
Labels: feat

#346 feat: remove outdated links
  src/types/FooterTypes.js
Labels: feat, Reviewed

#353 fix: sum up all the credit contracts
  src/components/UserAccount/TransactionDetails/TransactionDetails.jsx
Labels: bug
